@model IEnumerable<MettSite.ViewModels.MettStatistics>

@{
    ViewBag.Title = "Bestellstatistik";
}

<h2>Bestellstatistik</h2>

<table>
    <colgroup>
        <col width="120" />
        <col width="220" />
        <col width="220" />
        <col width="220" />
    </colgroup>
    <tr>
        <th>
            Besteller
        </th>
        <th>
            verspeistes Mett in kg
        </th>
        <th>
            verspeistes Tartar in kg
        </th>
        <th>
            Anzahl Getränke
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @item.MettWeight
            </td>
            <td>
                @item.TartarWeight
            </td>
            <td>
                @item.BeverageCount
            </td>
        </tr>
    }
</table>