@{
    ViewBag.Title = "Mettwoch";
}

<div class="jumbotron">
    <h1>Heute @DateTime.Today.ToShortDateString() ist wieder Mettwoch</h1>
    <p class="lead">Mett My Day ermöglicht dir ein einfaches und komfortables Bestellen deines Mettbrötchens</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Frisches Mett</h2>
        <p>
            <img src="~/pics/Mett.jpg" alt="Mett" width="300"/>
        </p>
        <p><a class="btn btn-default" href="https://de.wikipedia.org/wiki/Mett" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Köstliches Tatar</h2>
        <p>
            <img src="~/pics/Tatar.jpg" alt="Tartar" width="300" />
        </p>
        <p><a class="btn btn-default" href="https://de.wikipedia.org/wiki/Tatar" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Erfrischende Getränke</h2>
        <p>
            <img src="~/pics/softDrinks.jpg" alt="drinks" width="300" />
        </p>
        <p><a class="btn btn-default" href="http://www.getraenke-altinger.de" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>
